@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
	font-family: Rubik, sans-serif;
}

body {
	/* main background color (needed as fill color in various places) */
	--body-bg: hsl(212 50% 12%);

	/* four tempers colors */
	--color-WO: hsl(165 80% 75%);
	--color-FC: hsl(60 80% 95%);
	--color-DR: hsl(320 90% 90%);
	--color-MA: hsl(195 90% 70%);

	margin: 0;
	background: var(--body-bg);
	color: hsl(195 50% 80%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
