@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
	font-family: Rubik, sans-serif;

	/* main background and foreground colors */
	--color-bg: hsl(212 50% 12%);
	--color-fg: hsl(195 50% 80%);

	/* four tempers colors */
	--color-WO: hsl(165 80% 75%);
	--color-FC: hsl(60 80% 95%);
	--color-DR: hsl(320 90% 90%);
	--color-MA: hsl(195 90% 70%);
}

body {
	margin: 0;
	background: var(--color-bg);
	color: var(--color-fg);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
