@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
	font-family: Rubik, sans-serif;
}

body {
	--body-bg: hsl(212 50% 12%);

	margin: 0;
	background: var(--body-bg);
	color: hsl(195, 50%, 65%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
